<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />


  </system.web>
  <appSettings>

    <add key="BaseURL" value="http://api.meetup.com"/>
    <add key="Events" value="/2/events"/>
    <add key ="Groups" value="/2/groups/"/>
    <add key="OpenEvents" value="/2/open_events"/>
    <add key="MeetUpAPIKey" value="?key=e94a3393e562a445d52426e681a24&amp;sign=true"/>
    <add key="ByGroup" value= "&amp;group_urlname="/>
    <add key="MyGroup" value="Umbraco-in-Wellington"/>
    <add key="JsonRoot" value="results"/>
  
  </appSettings>
</configuration>
